.signatureCanvas {
  border: 1px solid black;
  width: 70%;
  background-color: white;
  min-height: 300px;
}

.backdrop {
  background-color: black;
  opacity: 30%;
  width: 100%;
}

.form {
  margin-top: 1rem;
  border-radius: 3px;
}

.formGroupDate {
  padding: 10px;
  -webkit-box-shadow: 5px 5px 8px -1px #aaaaaa;
  box-shadow: 5px 5px 8px -1px #aaaaaa;
  border-radius: 5px;
}

.formGroupWorkInfo {
  padding: 10px;
  -webkit-box-shadow: 5px 5px 8px -1px #aaaaaa;
  box-shadow: 5px 5px 8px -1px #aaaaaa;
  border-radius: 5px;
}

.formGroupTime {
  padding: 10px;
  -webkit-box-shadow: 5px 5px 8px -1px #aaaaaa;
  box-shadow: 5px 5px 8px -1px #aaaaaa;
  border-radius: 5px;
}

.formGroupSignName {
  padding: 10px;
  -webkit-box-shadow: 5px 5px 8px -1px #aaaaaa;
  box-shadow: 5px 5px 8px -1px #aaaaaa;
  border-radius: 5px;
}
